kiwify-n8n-workflow-corrigido.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kiwify-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        672,
        2816
      ],
      "id": "73be6b9d-e612-4e89-ad1e-861900d5d37e",
      "name": "WebhookKiwify",
      "webhookId": "1a643f5c-49e7-41a6-b41c-5fd8f7093585"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f748fe2-c181-4a81-8fe6-91cb462edc9f",
              "name": "customerId",
              "value": "={{ $json.body.Customer.id || $json.body.customer.id || 'TEST_123' }}",
              "type": "string"
            },
            {
              "id": "6968c50e-f26f-4fe5-8da4-0c5beaa7095f",
              "name": "customerEmail",
              "value": "={{ $json.body.Customer.email || $json.body.customer.email || 'teste@controlazap.com' }}",
              "type": "string"
            },
            {
              "id": "7968c50e-f26f-4fe5-8da4-0c5beaa7095g",
              "name": "customerName",
              "value": "={{ $json.body.Customer.full_name || $json.body.customer.full_name || $json.body.Customer.name || $json.body.customer.name || 'Usuario Teste' }}",
              "type": "string"
            },
            {
              "id": "8968c50e-f26f-4fe5-8da4-0c5beaa7095h",
              "name": "customerPhone",
              "value": "={{ ($json.body.Customer.mobile || $json.body.customer.mobile || $json.body.Customer.mobile_phone || $json.body.customer.mobile_phone || '11999999999').replace(/[^0-9]/g, '').replace(/^55/, '') }}",
              "type": "string"
            },
            {
              "id": "d968c50e-f26f-4fe5-8da4-0c5beaa7095m",
              "name": "isProduction",
              "value": "={{ $json.body.webhook_event_type === 'order_approved' }}",
              "type": "boolean"
            },
            {
              "id": "9968c50e-f26f-4fe5-8da4-0c5beaa7095i",
              "name": "eventType",
              "value": "={{ $json.body.webhook_event_type || $json.body.event || $json.body.event_type || 'order_approved' }}",
              "type": "string"
            },
            {
              "id": "a968c50e-f26f-4fe5-8da4-0c5beaa7095j",
              "name": "subscriptionId",
              "value": "={{ $json.body.subscription_id || $json.body.order_id || 'KW_' + ($json.body.Customer.id || $json.body.customer.id || 'TEST_123') }}",
              "type": "string"
            },
            {
              "id": "b968c50e-f26f-4fe5-8da4-0c5beaa7095k",
              "name": "payloadCompleto",
              "value": "={{ JSON.stringify($json.body) }}",
              "type": "string"
            },
            {
              "id": "c968c50e-f26f-4fe5-8da4-0c5beaa7095l",
              "name": "debugInfo",
              "value": "={{ 'Dados extraídos: ID=' + ($json.body.Customer?.id || $json.body.customer?.id || 'N/A') + ' | Email=' + ($json.body.Customer?.email || $json.body.customer?.email || 'N/A') + ' | Evento=' + ($json.body.webhook_event_type || $json.body.event || $json.body.event_type || 'N/A') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        2816
      ],
      "id": "69f08372-ce3e-4bf5-9d90-7607c5b40306",
      "name": "FiltraDadosKiwify"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "instanceName": "controlazap",
        "numbers": "=55{{ $json.customerPhone.replace(/^55/, '') }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1184,
        2816
      ],
      "id": "61d5c31a-7e63-4fa2-b147-5f55273530bc",
      "name": "VerificaNumeroWhatsKiwify",
      "credentials": {
        "evolutionApi": {
          "id": "4GUU0R32mA2brhc2",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ivsqwjcfrktpslhmxwnx.supabase.co/functions/v1/user-registration-webhook",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "{\n  \"email\": \"{{ $json.customerEmail }}\",\n  \"phone\": \"{{ $json.customerPhone }}\",\n  \"name\": \"{{ $json.customerName }}\",\n  \"subscription_id\": \"{{ $json.subscriptionId }}\",\n  \"payment_provider\": \"kiwify\",\n  \"subscription_status\": \"active\",\n  \"plan_name\": \"ControlaZap Pro\",\n  \"amount\": 2990,\n  \"currency\": \"BRL\",\n  \"event_type\": \"{{ $json.eventType }}\",\n  \"customer_id\": \"{{ $json.customerId }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        2816
      ],
      "id": "8d4ef37b-b5fa-41ec-adeb-f995bb73803f",
      "name": "CriaAtualizaUsuarioKiwify",
      "credentials": {
        "httpBearerAuth": {
          "id": "WITTXY02kRBr67S8",
          "name": "Token supabase"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "controlazap",
        "remoteJid": "={{ $('VerificaNumeroWhatsKiwify').item.json.data[0]?.jid || '55' + $json.customerPhone.replace(/^55/, '') + '@s.whatsapp.net' }}",
        "messageText": "={{ $json.isProduction ? '🎉 *Parabéns, ' + $json.customerName.split(' ')[0] + '!*\n\nSua compra foi confirmada com sucesso! ✅\n\nAgora você tem acesso completo ao *ControlaZap* - sua plataforma de controle financeiro inteligente.\n\n📧 Verifique seu email *' + $json.customerEmail + '* para receber seus dados de acesso.\n\n💡 *Com o ControlaZap você pode:*\n• Controlar receitas e despesas automaticamente\n• Receber lembretes inteligentes\n• Conversar com nosso assistente financeiro\n• Gerar relatórios detalhados\n\nBem-vindo(a) à família ControlaZap! 🚀' : '🧪 *TESTE - Parabéns, ' + $json.customerName.split(' ')[0] + '!*\n\n✅ Fluxo de integração Kiwify funcionando!\n\n📊 Debug Info: ' + $json.debugInfo + '\n\n📧 Email: ' + $json.customerEmail + '\n📱 Telefone: ' + $json.customerPhone + '\n🆔 Subscription: ' + $json.subscriptionId + '\n\n🚀 Integração ControlaZap - Modo Teste' }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1744,
        2672
      ],
      "id": "3ea2fc93-9443-4b01-aeec-c9aba885027c",
      "name": "EnviaWhatsappKiwify",
      "credentials": {
        "evolutionApi": {
          "id": "4GUU0R32mA2brhc2",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.customerEmail }}",
        "subject": "={{ $json.isProduction ? '🎉 Bem-vindo ao ControlaZap - Sua conta está ativa!' : '🧪 TESTE - Integração Kiwify ControlaZap' }}",
        "message": "={{ $json.isProduction ? '<h2>🎉 Bem-vindo ao ControlaZap!</h2>\n\n<p>Olá <strong>' + $json.customerName + '</strong>,</p>\n\n<p>Parabéns! Sua compra foi confirmada e sua conta no ControlaZap já está ativa.</p>\n\n<p><strong>Seus dados de acesso:</strong></p>\n<ul>\n<li><strong>Email:</strong> ' + $json.customerEmail + '</li>\n<li><strong>Plano:</strong> ControlaZap Pro</li>\n<li><strong>Status:</strong> Ativo</li>\n</ul>\n\n<p>🚀 <strong>Próximos passos:</strong></p>\n<ol>\n<li>Acesse a plataforma: <a href=\"https://controlazap.com\">controlazap.com</a></li>\n<li>Faça seu primeiro login com seu email</li>\n<li>Configure seus lembretes financeiros</li>\n<li>Conecte sua conta WhatsApp</li>\n</ol>\n\n<p>Bem-vindo(a) à família ControlaZap! 💙</p>' : '<h2>🧪 TESTE - Integração Kiwify</h2>\n\n<p><strong>Dados recebidos e processados:</strong></p>\n<ul>\n<li><strong>Nome:</strong> ' + $json.customerName + '</li>\n<li><strong>Email:</strong> ' + $json.customerEmail + '</li>\n<li><strong>Telefone:</strong> ' + $json.customerPhone + '</li>\n<li><strong>ID Cliente:</strong> ' + $json.customerId + '</li>\n<li><strong>Subscription:</strong> ' + $json.subscriptionId + '</li>\n<li><strong>Evento:</strong> ' + $json.eventType + '</li>\n</ul>\n\n<p><strong>Debug Info:</strong> ' + $json.debugInfo + '</p>\n\n<p>✅ Fluxo completo executado com sucesso!</p>' }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1744,
        2928
      ],
      "id": "1a419f1e-475a-4c17-8f0a-d8dd8629ac84",
      "name": "EnviaEmailKiwify",
      "webhookId": "e641ec5c-6b92-42ed-9ba3-3f33f8d9ec0f",
      "credentials": {
        "gmailOAuth2": {
          "id": "36PFJWPzrGiKMdZF",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "WebhookKiwify": {
      "main": [
        [
          {
            "node": "FiltraDadosKiwify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FiltraDadosKiwify": {
      "main": [
        [
          {
            "node": "VerificaNumeroWhatsKiwify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VerificaNumeroWhatsKiwify": {
      "main": [
        [
          {
            "node": "CriaAtualizaUsuarioKiwify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CriaAtualizaUsuarioKiwify": {
      "main": [
        [
          {
            "node": "EnviaWhatsappKiwify",
            "type": "main",
            "index": 0
          },
          {
            "node": "EnviaEmailKiwify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4cabe1a08d10bf2853a9001d10e6b6d9fb90d6c5a976d2031b9dc5b4149df03b"
  }
}